body{
    background-color: #0e0b16;
    color: #e7dfdf;
    font-family: 'Dancing Scipt', cursive;
    padding: 0%;
    margin: 0%;
}

/* colours -->  9dd9d2,79bcb8,5ec2b7,2ca6a4,3aa7a3 */

.main{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0b16;
}

.header h1{
    padding-left: 20px;
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

.header a{
    text-decoration: none;
    font-size: x-large;
    margin-top: 32px;
    margin-right: 35px;
    /* display: inline-block; */
    padding: 4px;
    border-radius: 9px;
    margin-bottom: 52px;
    background-color: #4717F6;
    color: #e7dfdf;
}

.links{
    margin-top: 32px;
    margin-right: 35px;
    margin-bottom: 52px;
}

.firstImpression{
    display: flex;
    height: 600px;
    /* background-color: forestgreen; */
}

.myThought{
    width: 60%;
    /* background-color: ; */
    display: flex;
    justify-content: center;
}

.myThought h1{
    align-self: center;
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
    padding: 50px;
}

.myImage{
    width: 40%;
    padding: 15px;
    margin: auto;
    /* background-color: hotpink; */
}

.abts{
    display: flex;
    flex-direction: column;
    background-color: indigo;
    align-items: center;
}

.headings{
    font-size: 60px;
}

/* colours -->  9dd9d2,79bcb8,5ec2b7,2ca6a4,3aa7a3 */

.expertLane{
    display: flex;
    /* background-color: lightblue; */
    height: 380px; 
}







.expertiesDetails{
    /* background-color: navy; */
    display: flex;
    padding: 10px;
}

.textDetails{
    width: 70%;
    height: 60%;
    margin: auto;
    font-size: x-large;
    background-color: #0e0b16;
    border-radius: 40px;
    padding: 20px;
}

/* colours -->  9dd9d2,79bcb8,5ec2b7,2ca6a4,3aa7a3 */

/* .exprience{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.exprience h2{
    margin: auto;
} */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e0b16;
}



.contact form{
    background-color: indigo;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 72px;
}

.contact form table tr td input,textarea{
    border-radius: 7px;
}

.buttons{
    text-align: center;
    margin-top: 10px;
}


.buttons button{
    margin: auto;
    /* margin-top: 50px; */
    padding: 5px;
    background-color: #4717F6;
    color: #e7dfdf;
    font-weight: 900;
}

.footer{
    align-items: center;
}